@model IEnumerable<TMR.Models.ReplyListItem>


   
 @foreach(var item in Model)
 {
     <div class="reply-list">
         <div class="snapshot">
             @Html.Partial("../Profile/_GetProfileSnapshot", (TMR.Models.ProfileDetail)ViewBag.Profile, new ViewDataDictionary { { "user", item.UserID } })
         </div>
         <br />
         <div class="reply-content">
             <div>
                 <p>
                     @Html.DisplayFor(modelItem=>item.Body)
                 </p>
             </div>
         </div>

     </div>
 }